/* Add your code in each class */
* {
  margin: 0;
}
body {
  background-color: #1c0c2c;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-card {
  width: 300px;
  height: 300px;
  position: relative;
  transition: 0.2s;
}
.movie-card:hover {
  width: 320px;
  height: 320px;
  transition: 0.2s;
  cursor: pointer;
}
.movie-image {
  border-radius: 20px;

  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -2;
  position: relative;
}

.movie-details-container {
  position: absolute;
  z-index: -1;
  width: 100%;
  bottom: 0;
  z-index: -1;
  margin: 5px;
}

.descriptions {
  padding: 5px;
  color: white;
}

/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/

  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.movie-title {
  font-size: 20px;
  color: white;
}
